name: AIOT Data Pipeline

on:
  schedule:
    - cron: "*/15 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install requests

      - name: Run OI script
        run: python push_oi.py

      - name: Run Funding script
        run: python push_funding.py

      - name: Run Long/Short script
        run: python push_ls.py
